.card-pricing__container{
  position: absolute;

  display: flex;
  flex-direction: column;

  bottom: 0px;
  left: 0;

  width: 100%;
  height: 70px;

  background-color: rgba(0, 0, 0, 0.8);
  color: antiquewhite;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.card-pricing__title{
  margin-bottom: 3px;
}
.card-pricing__value{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-pricing__value__console{
  display: flex;
  flex-direction: row;
}

.card-pricing__value__console > span{
  font-weight: bolder;
  color: gray;
  margin-right: 10px;
}
