<div class="home__container">

  <app-card
  gameCover = "assets/Uncharted.png"
  gameLabel = "Daily Deal"
  gameType = "DIGITAL PS5"
  gamePrice = " R$100,00"
  >
</app-card>

<app-card
gameCover = "assets/GTAV.png"
  gameLabel = "Daily Deal"
  gameType = "DIGITAL PS5"
  gamePrice = " R$150,00"
>

</app-card>

<app-card
  gameCover = "assets/COD.jpg"
  gameType = "Disc"
  gamePrice = "R$200,00"
  gameLabel = "FPS"
>

</app-card>

<app-card
  gameCover = "assets/COD.jpg"
  gameType = "Disc"
  gamePrice = "R$200,00"
  gameLabel = "FPS"
>

</app-card>


</div>
