<div class="menu-bar__container">
    <div class="menu-bar__logo">
      <img

      src="assets/logo2.png"
      alt=""
      width="140px"
      height="32px"
      >

    </div>
      <div class="menu-bar__item">
      <ul>
        <li> <a href="https://github.com/jaoedu">GITHUB</a></li>
        <li> <a href="https://www.linkedin.com/in/jo%C3%A3o-mota-85ab3224a/">LINKEDIN</a></li>
        <li> <a href="https://instagram.com/joaoo.mottaa?igshid=OGQ5ZDc2ODk2ZA==">INSTAGRAM</a></li>
      </ul>
      </div>
</div>
