/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing:border-box;
}

body{
  background: rgb(3,4,6);
background: linear-gradient(179deg, rgba(3,4,6,1) 0%, rgba(9,10,12,1) 100%);
}

